# Version minimale de Python recommandée
python_version >= 3.9

# Bibliothèque standard (aucune installation nécessaire via pip)
# - sys
# - os
# - re
# - json
# - math
# - time
# - secrets
# - string
# - sqlite3
# - datetime
# - contextlib
# - warnings
# - io
# - tkinter

# Bibliothèques tierces à installer via pip
requests>=2.25.1
numpy>=1.21.0
openpyxl>=3.0.9
pandas>=1.3.0
tabulate>=0.8.9
matplotlib>=3.4.3
PyQt5>=5.15.4
